{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Блог</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"></head>
<body>
 <nav class="navbar navbar-default">
 <div class="container">
 <div class="navbar-header">
 <a class="navbar-brand" href="{% url 'blog:index'%}">Домашняя страница</a>
 </div>
 <div class="collapse navbar-collapse" id="navbar-collapse-2">
 <ul class="nav navbar-nav navbar-right">
 <li><a href="{% url 'blog:posts'%}">Блоги</a></li>
 <li><a href="http://127.0.0.1:8000/admin/" title="redmouse 12345678">Администрирование</a></li>
 <li><a href="{% url 'blog:register'%}">Регистрация</a></li>
 {% if user.is_authenticated %}
 <li>
          <a class="nav navbar-nav navbar-right" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png" alt="USER" width="20" />{{ user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'blog:logout' %}">Logg out</a></li>
          </ul>
        </li>
         {% else %}
         <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Вход</a>
 </ul>
<div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
 <form class="navbar-form navbar-right form-inline" role="form">
 <div class="form-group">
 <label class="sr-only">Email</label>
 <input class="form-control" id="Email" placeholder="Логин" autofocus required />
 </div>
 <div class="form-group">
 <label class="sr-only" for="Password">Password</label>
 <input type="password" class="form-control" id="Password" placeholder="Пароль" required />
 </div>
 <div class="form-group">
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form|crispy }}
      <button type="submite" class="btn btn-success">Вход</button>
    </form>
  </div>
 </form>
 </div>
  {% endif %}
 </div>
 </div>
 </nav>
<main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>